@use '../mixins.scss' as *;
@use '../common.scss' as *;

.first-section {
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow-x: hidden;

  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;

  @include media(md) {
    background-position: top center;
  }
}

.top-nav {
  @include flex(center, space-between);

  padding-top: 20px;
  padding-bottom: 20px;

  @include media(md) {
    padding-top: 40px;
  }

  &__pannel {
    @include flex(center);
  }

  &__bag {
    position: relative;
    margin-right: 37px;

    width: 25.5px;
    height: 28.3px;

    @include media(lg) {
      margin-right: 0;
    }
  }

  &__counter {
    position: absolute;
    top: 3px;
    right: 2px;

    font-size: 12px;
    line-height: 1;

    color: $white;
    background-color: $orange;
    border-radius: 50%;
    outline: 5px solid $orange;
  }
}

.desktop-nav {
  position: relative;

  @include media(lg) {
    @include flex(center);
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 58px;
    }

    &:hover .desktop-nav__sublist {
      appearance: initial;
      opacity: 1;
      pointer-events: initial;
      top: 22px;
    }
  }

  &__link {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: $white;
  }

  &__sublist {
    position: absolute;
    top: -500px;

    appearance: none;
    opacity: 0;
    pointer-events: none;

    width: 99px;
    padding: 12px;
    @include flex(stretch, stretch, column);
    background-color: $white;
    transition:
      opacity 1s ease-in,
      top 0.3s ease-in;
  }

  &__subitem {
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  &__sublink {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    color: $black;
  }
}

.burger-wrapper {
  & input {
    appearance: none;
    width: 30px;
    height: 22px;

    position: absolute;
    top: 42px;
    right: 20px;
  }

  & input:checked ~ .burger .burger__line:first-child {
    transform: translate(0, 10px) rotate(45deg);
  }
  & input:checked ~ .burger .burger__line:nth-child(2) {
    transform: rotate(0deg) scale(0);
  }
  & input:checked ~ .burger .burger__line:last-child {
    transform: translate(0, -10px) rotate(-45deg);
  }
  & input:checked ~ .mobile-nav {
    opacity: 1;
    pointer-events: initial;
    appearance: initial;
    z-index: 10;
    right: 20px;
  }
}

.burger {
  width: 30px;
  height: 22px;
  @include flex(center, space-between, column);

  &__line {
    width: 100%;
    height: 2px;
    border-radius: 2px;

    background-color: $white;

    transition: transform 0.3s ease-in;
  }
}

.mobile-nav {
  opacity: 0;
  pointer-events: none;
  appearance: none;
  position: absolute;
  right: -450px;
  top: 66px;
  z-index: -1;

  width: 156px;
  padding: 24px;

  background-color: $white;

  transition:
    right 0.3s ease-in-out,
    opacity 0.6s ease-in-out;

  @include media(md) {
    top: 86px;
  }

  &__item {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;

    opacity: 0.8;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    & a {
      text-decoration: none;
      color: $black;
    }

    &:hover .mobile-nav__sub-list {
      display: block;
    }
  }

  &__sub-list {
    display: none;
    margin-left: 5px;

    & a {
      font-size: 12px;
    }
  }
}
