@use 'mixins.scss' as *;

$black: #1e1e1e;
$light-grey: #f7f7f7;
$grey: #eeeeee;
$dark-grey: #8d8d8d;
$alt-grey: #fafafa;
$orange: #e58411;
$light-orange: #f6b76f;
$white: #ffffff;
$purple: #0d1b39;

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: $black;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include media(xl) {
    padding: 0;
  }
}

.desktop-only {
  display: none;

  @include media(lg) {
    display: inherit;
  }
}

.mobile-only {
  @include media(lg) {
    display: none;
  }
}

.slider-arrow {
  @include flex(center, center);
  width: 50px;
  height: 50px;
  right: 0;
  bottom: calc(50% - 25px);

  background-color: $white;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 50%;

  cursor: pointer;

  & svg {
    width: 17px;
    height: 17px;
  }

  &--prev {
    left: 0;

    & svg {
      transform: scale(-1);
    }
  }
}
