@use 'mixins.scss' as *;
@use 'common.scss' as *;

.section {
  &__title {
    font-size: 42px;
    font-weight: 700;
    color: $black;
    line-height: 63px;
    text-transform: capitalize;

    &--centered {
      text-align: center;
    }
  }

  &__head {
    font-size: 24px;
    font-weight: 700;
    color: $black;
    text-align: left;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: $black;
    opacity: 0.8;
  }

  &__preview {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: $orange;

    margin-bottom: 23px;
  }
}
.arrow {
  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: $orange;
    text-decoration: none;

    &::after {
      content: url(../images/arrow-right.svg);
      margin-left: 11.5px;

      position: relative;
      top: 2px;
    }
  }
}
